<!doctype html>
<html lang="en" class="h-100">
<head>
    <head>{% load static %}
        <meta charset="utf-8">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" crossorigin="anonymous">
        <link href="{%static 'css/style.css'%}" rel="stylesheet" crossorigin="anonymous">
    </head>
</head>
<body><footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Наверх</a>
      </p>
      <p class="mb-1">По всем вопросам вы можете обратится в техподержку:helper@mail.ru</p>
    </div>
  </footer>
  
</body>
</html>