{% extends 'base.html' %}
{% load static %}

{% block hotasks %}
<section class="py-5 text-center container">
  <div class="col py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Hot Questions</h1>
      <p class="lead text-body-secondary">Ask a question you are interested in and get an answer</p>
      <p>
        <a href={% url 'newask'%} class="btn btn-primary my-2">Ask</a>
        <a href={% url 'hotasks'%} class="btn btn-secondary my-2">Hot Questions</a>
      </p>
    </div>
  </div>
</section>

{% endblock %} 

{% block allask %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="col row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        {% for question in questions %}
        <div class="card shadow-sm" style="display: flex;">
          <img src=" {% static '/img/znak.png' %}" style="width:60px; margin-top: 10px;">
          <div class="card-body">
            <div class="card-title" >
              <a href ="{% url 'answer' question_id=question.id %}">{{question.title}} </a> 
            </div>
            <div class="card-text" >{{question.text}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="allows">
                <button type="button" class="allow high">&#9650;</button>
                <button type="button" class="allow low">&#9660;</button>
              </div>
                <div class="like">
                  <span>+5</span>
              </div>
              <div class="answers">
                <a href="{% url 'answer' question_id=question.id %}" class="answer">Ответы(100)</a>
              </div>
              <div class="tags">
                <a href="{% url 'tag'%}" class="tag">Tags: tag, tag </a>
              </div>  
              <small class="text-body-secondary">1 min</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
{% endblock %}  
